

/*<!------ nav bar ------>*/


.navbar-default .navbar-nav>li>a {
    color: grey;
    padding-top: 45px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    }

.navbar {
	border: none;
	background-color: black;
	margin-bottom: 0;
	min-height: 100px;
}

.navbar-container {
	margin: 0 auto;
	width: 80%;
}


.logo{
    max-width: 370px;
    width: 100%;
    margin-left: -;
}

.navbar-brand {
	height: 100%;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}


@media screen and (max-width:769px) {
	.navbar-collapse {
		border-top: none;
	}

	.navbar-collapse .nav li {
		padding: 0;
		margin-top: 0;
		height: 40px;
		border-top: solid #A9A9A9 .5px;
		text-align: center;
	}
	.navbar-default .navbar-nav>li>a {
		padding-top:10px;
	} 

	.navbar-toggle {
		margin-top: 25px;
	}
}


/*<!------ nav bar end ------>*/




.hero-container h1 {
	font-size: 45px;
    color: white;
    margin-top: 37px;
    padding: 0;
    font-family: 'Lora', serif;
    font-weight: lighter;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0px;
}

	
	
h2 {
	text-align: center;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

h3 {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 45px;
	margin: 10px 0 20px 0;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.testimonials h3 {
	color: black;
	font-family: 'Lora', serif;
}

.pendants h3 {
	color: white;
	font-family: 'Lora', serif;
}

.pendants {
	color: white;
}


.heroimage {
	background: url(../images/hero.jpg); no-repeat center center;
  	background-size: cover;
  }

.hero-container {
	padding: 100px;
}

img {
	width:100%;
}

.heroimage {
	margin-top: 100px;
}



/*<---- product nav bar start ------>*/

.product-nav {
	margin: auto 0;
	text-align: center;
	background-color: white;
	padding: 20px;
}

.product-nav-container {
	display: inline-block;
	text-align: center;
}

.product-button {
	display: inline-block;
	width: 250px;
	height: 250px;
	margin: 10px;
	padding-top: 20px;
	border-radius: 50%;
}


.product-button h3 {
	opacity: 0;   
}

.product-button:hover h3{
	opacity: 1;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 30px;
	color: white;
	}


.product-nav h3 {
	padding-top: 70px;
}

#pendant-button {
	background: url(../images/button-pendant.jpg) no-repeat center center;
	background-size: cover;	
	background-position: 50% 50%;
}


#pendant-button:hover {
	background: url(../images/button-pendant-black.jpg) no-repeat center center;
	background-size: cover;	
	background-position: 50% 50%;
}


#earrings-button {
	background: url(../images/button-earrings.jpg) no-repeat center center;
	background-size: cover;	
	background-position: 50% 50%;
}

#earrings-button:hover { 
	background: url(../images/button-earrings-black.jpg) no-repeat center center;
	background-size: cover;	
	background-position: 50% 50%;
}

#ring-button {
	background: url(../images/button-ring.jpg) no-repeat center center;
	background-size: cover;	
	background-position: 50% 50%;
}

#ring-button:hover {
	background: url(../images/button-ring-black.jpg) no-repeat center center;
	background-size: cover;	
	background-position: 50% 50%;
}


@media screen and (max-width:865px) {
	.product-nav h3 {
	padding-top: 30px;
		}
	}

@media screen and (max-width:865px) {
	#earrings-button h3 {
	padding-top: 10px;
		}
	}

	

@media screen and (max-width:770px) {
	.product-nav-container .product-button {
	display: block;
	width: 100%;
    height: 50px;
    padding: 0px;
    margin: 5px;
    border-radius: 0;
	}

	.product-nav-container {
    width: 98%;
    padding: 0;
	}

	.product-nav {
		padding: 0;
		width: 98%;
	}

 	h3 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin: 10px 0 20px 0;
    padding-top: 15px;
	}

	h3:hover {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin: 10px 0 20px 0;
    padding-top: 15px;
	}

.product-button {
	margin-bottom: 5px;
	}
}


/*<---- product nav bar end------>*/




/*<---- carousel------>*/

.trending {
	background: url(../images/palm.jpg); no-repeat center center;
  	background-size: cover;	
/*	display: inline-block;	*/

}

.trending-container {
	margin: 0 auto;
	width: 80%;
	padding: 30px 30px 10px 30px;
}

.carousel-image {
	height: 400px;
}

.slick-carousel {
	overflow: hidden;
}

.slick-prev:before, .slick-next:before {
	color: black;
}



/*<---- carousel end ------>*/




.product-name {
	font-weight: bold;
}

.products img {
	border-radius: 50%;
}

.products2 img {
	border-radius: 50%;
}

.product-add-to-cart .add-to-cart {
	margin: auto;
	margin-top: 30px;
}


@media screen and (max-width:865px) {
	.product-button:hover h3{
	opacity: 1;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 20px;
	color: white;
	margin: 10px;	
	}

	.product-button {
	margin: 10px;
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: 20px;
	margin: 10px;
	}
  }



@media screen and (max-width:991px) {
	.about-image{
		/*display: inline-block;
		float: left;*/
		/*width: 200%;*/
		margin: auto 0;
		width: 100% !important;
	}

	.about-text {
		text-align: center;
	}

	.about-text h3{
		text-align: center !important;
		}
	}

 @media screen and (max-width:775px) {
	.hero-container h1 {
	font-size: 30px;
    color: white;
    font-family: 'Lora', serif;
    font-weight: lighter;
    line-height: 10px;
    text-align: left;
    letter-spacing: 0px;
	}
}

@media screen and (max-width:630px) {
	.hero-container h1 {
	font-size: 25px;
    color: white;
    font-family: 'Lora', serif;
    font-weight: lighter;
    line-height: 8px;
    text-align: left;
    letter-spacing: 0px;
	}	
	.hero-container {
		padding: 10px; 
	}
	.product-button h2 {
		padding-top: 0;
	}

	.product-nav-container {
		width: 70%;
	}

	.product-nav {
		padding: 5px;
		margin: auto 0;
	}
  }

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

 

.about-container {
	margin: 0 auto;
	width: 70%;
	padding: 30px;
	overflow: hidden;
}

.about {
	background: url(../images/palm.jpg); no-repeat center center;
  	background-size: cover;	
	display: inline-block;	
}

.about-text {
    padding: 30px; 
     color: white;  
}

.about-text h3{
    text-align: left; 
    color: white;  
}

.about-image {
	width: 50%;

}

.signature {
	width: 200px;
	padding-top: 30px;
}

.about-image img {

	border-radius: 50%;
}

.testimonial h6 {
	font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: 40px;
}

.testimonial-container {
	margin: 0 auto;
	width: 70%;
	padding: 30px;
}


.testimonials ul li {
	display: inline-block;
	width: 250px;
	margin: 10px;
	padding: 30px;
	color: black;
}




.testimonials ul {
	text-align: center;
	padding: 0;
	margin: 0;

}

  p {
	margin: 0;
	}



.speech-marks {
	width: 30%;
	
}

.testimonial p {
	padding: 10px;
}

.testimonial h4 {
	line-height: 25px;
	font-weight: normal;
	font-size: 20px;
}


.footer-text {
	padding: 10px;
	display: inline-block;
	padding-left: 100px;
	color: white;
}

footer {
	background:  black;
	height: 50px;
}

.product-description {
	text-align: center;
	padding-top: 10px; 
}

.heroimage {
	padding: 50px;
}

body {
  margin:0;
}








/*<------ Form Box ------->*/

.form-container {
	margin: 0 auto;
	width: 70%;
	padding: 30px;	
}

.input-text {
	color: black;
}

input {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	min-height: 40px;
	text-align: center;
	border: none;

}
textarea {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	border: none;
	text-align: center;
	padding-top: 40px;
}



textarea {
	justify-content: center;
}


form p {
	color: black;
	margin-bottom: 20px;
}


.form button {
	width: 150px;
	padding: 20px;
	background-color: #c0ecb6;
	border: none;
	margin: 10px;
}

.form-button button {
	width: 300px ;
}

button:hover {
  background-color: #FED762;
  transform: scale(1.1);
  transition: all .5s ease;
}

#first-name, #last-name {
  width:48%;
}
#last-name {
  float:right;
}
#first-name {
  float:left;
}

#eml, #tel {
  width:48%;
}

#eml {
  float:left;
}
#tel {
  float:right;
}

.form {
	background: url(../images/pineapple_girl.jpg); no-repeat center center;
  	background-size: cover;	
	display: inline-block;	
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.form-container {
	width: 70%;
	margin: 0 auto;
}

/*<!--shopping cart-->*/
/*<!--shopping cart-->*/
/*<!--shopping cart-->*/
/*<!--shopping cart-->*/



* {
  box-sizing: border-box;
}



a:hover{
  text-decoration: none;
}



/*<------ Form Box Ends------->*/





.products-container {
	width: 100%;
	background-color: white;
}

.products {
	padding: 0 30px 30px 30px;


}

.products2 {
padding: 0 30px 30px 30px;


}

.product-container {
	width: 100%;
	background-color: white;
}

.products-padding {
	margin: 0 auto;
	width: 70%;
	padding: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-name {
	text-align: center;
	margin-top: 30px;
}

.product-price {
	text-align: center;
	font-weight: bold;
}

.product span {
  font-weight: bold;
}

.product-image img {
  display: block;
  max-width: 228px;
  width: 100%;
  margin: 0 auto;
}

.form h3{
	padding-top: 30px;
	margin-bottom: 10px; 
}


  @media screen and (max-width:786px) {

	#first-name, #last-name {
    width: 100%;
}

	#eml, #tel {
    width: 100%;
}
    input {
  
    	margin: auto 0;
    	margin-bottom: 5px;

}

	textarea {
		margin: 0;
	}
  }

    @media screen and (max-width:510px) {

	.form button {
		width: 100%;
		margin: 0;
		margin-bottom: 5px;
	
}
  }



/*<----- Shopping Cart ----->*/





.shopping-cart-closed {
	right: -205px !important;
}


.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  z-index: 6000;
  min-height: 100px;
  margin-right: 5px;
  margin-top: 115px;
  padding: 10px;
  background: #404040;
  transition: right 0.3s ease;
  border-radius: 10px;
}


@media screen and (max-width:950px) {
  
  .shopping-cart { 
  margin-top: 105px;
}

.logo{
    max-width: 230px;
    width: 100%;
}
  }


@media screen and (max-width:480px) {
  
  .shopping-cart { 
  margin-top: 105px;
}

.logo{
    max-width: 150px;
    width: 100%;
 }  
   .navbar-container {
   	margin-top: 10px;
   }
}
  }

.shopping-cart-head {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}


.shopping-cart-head {
 	font-family: 'Open Sans', sans-serif;
    color: #c0ecb6;
    padding: 5px;
    text-align: center;
/*    margin-bottom: 10px;
    margin-top: 5px;*/
}

.shopping-cart-head h2{
    font-size: 25px;
    color: white;
}

.empty-cart-btn,
.cart-checkout {
  display: none;
}

.empty-cart-btn {
background: #c0ecb6;
  text-align: center;
  color: black;
  height: 40px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.empty-cart-btn a:focus, a:hover {
  color: #23527c;
}

.cart-checkout {
  background: #c0ecb6;
  text-align: center;
  color: black;
  height: 40px;
  padding-top: 10px;
}


.shopping-cart-list ul li { 
	font-family: 'Open Sans', sans-serif;;
  	color: white;
}
.product-add-to-cart {
	 text-align: center;
} 
.product-add-to-cart a{
    width: 150px;
    padding: 20px;
    background-color: #c0ecb6;
    border: none;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    color: black;
    display: block;
}

.product-add-to-cart a:hover{
  background-color: #FED762;
  transform: scale(1.1);
  transition: all .5s ease;
}

button .add-to-cart {
	margin-top: 90px;
	text-align: center;
	margin: auto 0;
}

.tab {
	background-color: #404040;
	height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: -42px;
    padding: 15px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
}

/*<----Shopping Cart Ends ----->*/
